@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miama Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Miama Regular'), url('/fonts/Miama-Regular.woff') format('woff');
}
    

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color-1 {
    color: #E6533C;
}
.color-2{
    color: white;
}

.color-3{
    color: rgba(255, 255, 255, 0.5);
}

body{
    font-family: 'Inter', sans-serif;
}

.background-grad-color {
    background: linear-gradient(to bottom, black, #777777);
    /* background-color: black; */
}

/* top navigation bar  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12%;
    padding-left: 12%;
    padding-top: 50px;
}

nav p{
    font-weight: 800;
    font-size: 36px;
    font-style: italic;
}
nav > div ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    gap: 50px;
    padding: 2px 8px 2px 4px;
    
}

nav li{
    list-style-type: none;
    
}

nav a{
    text-decoration: none;
    color: white;
}
/* icon of hamburger menu logo  */
nav ul img{
    display: none;
}

/* home button for behind color */
nav ul li button{
    background-color: #E6533C;
    padding: 12px 20px 12px 20px;
    border-radius: 46px;
    border: none;
}

/* first page  */

.home-page{
    display: flex;
    padding-left: 12%;
    padding-right: 9%; 
    padding-top: 5%;
    justify-content: space-between;
    gap: 30%;
}

.home-page h1{
    color: white;
    font-size: 78px;
    padding-bottom: 25px;
}
#home-div1{
    padding-top: 5%;
}

#shape{
    font-family: 'Miama Regular';
    font-size: 74px;
    line-height: 1;
}

.home-page div p{
    padding-bottom: 30px;
}

.btn-home-1{
    width: 225px;
    background-color: #E6533C;
    border-radius: 42px;
    height: 55px;
    border: none;
    color: white;
    font-size: 16px;
}

.btn-home-2{
    width: 225px;
    background-color: transparent;
    height: 55px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    border-radius: 42px;

}

#div-btn{
    display: flex;
}

.btn-home-img-1{
    display: flex;
    justify-content:left;
    align-items:center;
    padding: 24px;
    gap: 10px;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    /* transition: background-color 0.3s, color 0.3s; */
    backdrop-filter: blur(5px);
    margin-top: -170px;
    margin-left: -85px;
    position: relative;
    z-index: 1;
}
#circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#E6533C;
}

.btn-home-img-2{
    width: 193px;
    height: 98px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    /* transition: background-color 0.3s, color 0.3s; */
    margin-top: -450px;
    margin-left: 120px;
    
}

#five{
    font-size: 40px;
    font-weight: bolder;
    color: white;
    padding-bottom: 10px;
}
#five-text{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
}

#three{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding-bottom: 10px;
}

@media screen and (max-width: 576px){

    /* navigation bar  */

    nav > div ul{
        border: none;
    }
    nav{
        display: flex;
        padding: 5% 5% 5% 5%;
    }

    nav ul li{
        display: none;
    }
    nav ul img{
        display:inline;
        width: 30px;
    }
}
